.navbar {
    background-color:  #09b4df;
}

.navbar-brand {
    font-size: 20px;
    font-family: 600;
    margin-right: 16px;
}

.spacer {
    flex: 1;
}

button {
    color: white;
    text-transform: uppercase;
    margin-left: 8px;
}

button.active {
    font-weight: 600;
}

.customer-toolbar {
    background-color: #ff0000;
}