<form [formGroup]="searchProductForm" class="search-form">
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter keyword to search" formControlName="title">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" [disabled]="searchProductForm.invalid">
          <i class="fa-brands fa-searchengin"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4">
        <img [src]="product.processedImg" class="card-img-top" alt="product-image">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <hr>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">{{product.categoryName}}</span>
            <span class="text-primary font-weight-bold">{{product.price}}</span>
          </div>
          <div class="text-center">
            <a [routerLink]="'/admin/faq' + product.id" class="btn btn-primary btn-sm mr-2">FAQ</a>
            <a [routerLink]="'/admin/product' + product.id" class="btn btn-secondary btn-sm mr-2">Update</a>
            <button class="btn btn-danger btn-sm delete-button">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
